<img src="../../../assets/images/oxana-melis-VSosXFq51zk-unsplash.jpg" class="img-fluid" height="965px" width="698px"
    alt="Responsive image">
<p
    style="color: white; font-weight: 400; line-height: 32.11px; text-align: center; size: 24px; width: 450px; height:450; position: absolute; top: 250px; left: 910px;">
    Most storage facilities offer insurance for purchase; also, the lessor may be covered by their own insurance policy
    (if such policy has coverage for items stored off the premises of the insured) or may purchase insurance to cover
    the items (which the facility may offer as a service through a third-party carrier, and in some cases may require
    the lessor purchase as a condition of rental).A self-storage facility does not take possession or control of the
    contents of the space unless a lien is imposed for non-payment of rent, or if the unit is not locked the facility
    may lock the unit until the tenant provides their own lock.</p>
<button style="
width: 240px;
height: 71px;
border-radius: 40px;
background-color: #00061c;
color: white;
top: 540px;
left: 1010px;
position: absolute;
font-family: 'Aclonica';
font-size: 22px;
border: transparent;">
        BOOK SPACE
</button>